## Testing adl2tnm
Created 17-Jan-2020 HBP

Use Jim Pivaski's __uproot__ module to read Root file data into columns.

In [1]:
import os, sys, re
import numpy as np
import pandas as pd
import uproot

In [2]:
def bytes_to_string(alist):
    return [x.decode() for x in alist]

### Open output file from razor analysis

In [3]:
results = uproot.open('razor/razor_histograms.root')
results.keys()

[b'cutflow_preselection;1',
 b'cutflow_WcategorySR;1',
 b'cutflow_WcategoryCRQ;1',
 b'cutflow_WcategoryCRT;1',
 b'cutflow_WcategoryCRW;1',
 b'cutflow_WcategoryCRL;1',
 b'cutflow_WcategoryCRZ;1',
 b'cutflow_WcategoryCRG;1',
 b'cutflow_TopcategorySR;1',
 b'cutflow_TopcategoryCRQ;1',
 b'cutflow_TopcategoryCRT;1',
 b'cutflow_TopcategoryCRW;1',
 b'cutflow_TopcategoryCRL;1',
 b'cutflow_TopcategoryCRZ;1',
 b'cutflow_TopcategoryCRG;1',
 b'counts;1',
 b'regions;1']

### Get regions tree into a pandas dataframe

In [4]:
regions = results['regions']
names = bytes_to_string(regions.keys())
df = regions.pandas.df()
df[:10]

,preselection,WcategorySR,WcategoryCRQ,WcategoryCRT,WcategoryCRW,WcategoryCRL,WcategoryCRZ,WcategoryCRG,TopcategorySR,TopcategoryCRQ,TopcategoryCRT,TopcategoryCRW,TopcategoryCRL,TopcategoryCRZ,TopcategoryCRG
entry,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Count how often a region was selected

In [5]:
results = ['%-24s %10.1f' % (name, sum(df[name])) for name in names]
for x in results: print(x)

preselection                 7379.0
WcategorySR                   344.0
WcategoryCRQ                    1.0
WcategoryCRT                  109.0
WcategoryCRW                    0.0
WcategoryCRL                    0.0
WcategoryCRZ                   13.0
WcategoryCRG                  192.0
TopcategorySR                 173.0
TopcategoryCRQ                  1.0
TopcategoryCRT                 59.0
TopcategoryCRW                  0.0
TopcategoryCRL                  0.0
TopcategoryCRZ                 10.0
TopcategoryCRG                259.0